@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Inter-Regular.ttf) format("ttf"),
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/Inter-Bold.ttf) format("ttf"),
}

@font-face {
    font-family: "Inika";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Inika-Regular.ttf) format("ttf"),
}

@font-face {
    font-family: "Inika";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/Inika-Bold.ttf) format("ttf"),
}

.header {
    max-width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 42px 110px;
    background-color: #EDF2EC;

}

.logo {
    height: 20px;
    display: flex;
}

.logo-icon {
    width: 20px;
    height: 20px;
}

.logo-text {
    font-family: Inika;
    font-size: 16px;
    line-height: 21px;
}


.header__nav {
    display: flex;
    width: 452px;
    justify-content: space-between;
    list-style: none;
}

.header__link {
    font-family: Inika;
    font-size: 16px;
    line-height: 50px;
    color: #010201;
    text-decoration: none;
}

.welcome {
    display: flex;
    background-color: #EDF2EC;
    padding: 63px 110px;
    justify-content: space-between;
}

.welcome__img {
    width: 450px;
    height: 408px;
}

.welcome__content {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
    text-align: left;
}

.welcome__title {
    font-family: Inter;
    font-size: 45px;
    font-weight: 700;
    line-height: 50px;
    color: #717171;
}

.welcome__title span {
    color: #499A18;
}

.welcome__text {
    font-family: Inter;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
}

.welcome__button {
    width: 158px;
    height: 44px;
    border: 2px solid #E06733;
    border-radius: 10px;
    font-family: Inter;
    font-size: 16px;
    line-height: 20px;
}

.about {
    display: flex;
    justify-content: space-between;
    padding: 63px 110px;
    align-items: center;

}

.about__info {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.about__title {
    font-family: Inika;
    font-size: 40px;
    line-height: 52px;
    text-align: left;
    color: #499A18;
}

.about__title span {
    color: #E06733;
}

.about__text {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #636060;
}

.about__img {
    width: 464px;
}